<h2>Create a new Person</h2>

<form action="/people" method="post">
  <label for="name">Name</label>
  <input name="name" type="text"/>
  <label>Age</label>
  <input name="age" type="text"/>
  <label>Pronouns</label>
  <input name="pronouns" type="text"/>
  <input value="Create a New Person" type="submit" />
</form>